$types: padding margin;
$list: top left bottom right;

@each $type in $types {
    @each $direction in $list {
        @for $i from 0 through 40 {
            $value: $i * 5;
            .#{$type}-#{$direction}-#{$value} {
                #{$type}-#{$direction}: #{$value}px;
            }
        }
    }
}

$list: width height;

@each $dim in $list {
    @for $i from 0 through 150 {
        $value: $i * 5;
        .#{$dim}-#{$value} {
            #{$dim}: #{$value}px;
        }
    }
}

.flex {
    display: flex;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-vertical {
    flex-direction: column;
}

.block {
    display: block;
}

@for $i from 0 through 9 {
    .flex#{$i} {
        flex: #{$i}
    }
}

.bold {
    font-weight: bold;
}

$sizes: 8 10 12 16 20 28;
@each $size in $sizes {
    .ts-#{$size} {
        font-size: #{$size};
    }
}

.lh-1 {
    line-height: 1;
}
