
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "utility";
@import "colours";

.header-image img {
    width: 100%;
}

body {
    background: #eee;
}
